# Python
# Byte-compiled / optimized / DLL files
__pycache__/**  
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite
**/__pycache__/**
*.egg-info
*.egg
*.log
*.coverage
*.mypy_cache/**
*.pytest_cache/**
*.hypothesis
*.hypothesis/
# Distribution / packaging
# Python distributions
build/
dist/
# Python virtual environments
.venv/
# PyInstaller
# PyInstaller
#  Usually contains build/pyinstaller-*.spec
#  Usually contains build/pyinstaller-*.spec