# Requisitos de instalación para el proyecto Legal Advisor Validator

# Nuevas dependencias
numpy==1.24.0

# Documentación & Requisitos
mkdocs==1.6.1
mkdocs-material==9.6.11
mkdocs-material-extensions>=1.3
mkdocs-markdownextradata-plugin==0.1.9
mkdocs-awesome-pages-plugin==2.10.1
mkdocs-macros-plugin==1.3.7
mkdocs-git-revision-date-localized-plugin==1.4.5
mkdocs-include-markdown-plugin==7.1.5
mkdocs-redirects==1.2.1
mkdocs-minify-plugin==0.7.1
pymdown-extensions==10.5
Markdown>=3.8
pyyaml==6.0.1

# Procesamiento de documentos
#extract-msg==0.29.3
#textract==1.6.4
PyPDF2==1.26.0
python-docx==0.8.11
pytesseract==0.3.8

# Análisis y clasificación semántica
sentence-transformers==2.6.1
transformers>=4.32.0
torch==2.0.1
torchvision==0.15.2
sentencepiece==0.1.96
scikit-learn==1.4.2

# Procesamiento lingüístico
spacy==3.7.2
nltk==3.8.1

# Gestión de taxonomías y grafos
networkx==3.3
pyyaml==6.0.1

# Visualización e interfaces enriquecidas
matplotlib==3.8.4
rich==13.7.1

# Progreso de procesos
tqdm==4.66.2

# Manipulación de datos
pandas==2.2.2

# Validación de datos
pydantic==1.10.7



# requirements.txt actualizad:
#    📊 Análisis y clasificación semántica (scikit-learn, sentence-transformers)
#    🧠 Procesamiento lingüístico (spaCy, nltk)
#    🧩 Gestión de taxonomías y grafos (networkx, pyyaml)
#    🧼 Visualización e interfaces enriquecidas (matplotlib, rich)
#    ⚙️ Progreso de procesos (tqdm)
